<div
  *ngIf="
    tagsService.isNewTagModal ||
    ownersService.isNewOwnerModal ||
    locationsService.isNewLocationModal
  "
>
  <app-new-modal></app-new-modal>
</div>

<div
  *ngIf="
    tagsService.isUpdateTagModal ||
    ownersService.isUpdateOwnerModal ||
    locationsService.isUpdateLocationModal
  "
>
  <app-update-modal></app-update-modal>>
</div>

<div
  *ngIf="
    tagsService.isDeleteTagModal ||
    ownersService.isDeleteOwnerModal ||
    locationsService.isDeleteLocationModal ||
    itemsService.isDeleteItemModal
  "
>
  <app-confirm-delete-modal></app-confirm-delete-modal>
</div>

<div *ngIf="itemsService.isImageCarousel">
  <app-image-carousel></app-image-carousel>
</div>

<div
  class="app min-h-screen"
  [ngClass]="{
    'router-opacity':
      tagsService.isNewTagModal ||
      ownersService.isNewOwnerModal ||
      locationsService.isNewLocationModal ||
      tagsService.isUpdateTagModal ||
      ownersService.isUpdateOwnerModal ||
      locationsService.isUpdateLocationModal ||
      tagsService.isDeleteTagModal ||
      ownersService.isDeleteOwnerModal ||
      locationsService.isDeleteLocationModal ||
      itemsService.isDeleteItemModal ||
      itemsService.isImageCarousel
  }"
>
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
