<div *ngIf="tagsService.isNewTagModal">
  <app-new-tag-modal></app-new-tag-modal>
</div>

<div *ngIf="tagsService.isUpdateTagModal">
  <app-update-tag-modal></app-update-tag-modal>
</div>

<div *ngIf="tagsService.isDeleteTagModal">
  <app-confirm-delete-modal></app-confirm-delete-modal>
</div>

<div
  class="app min-h-screen"
  [ngClass]="{
    'router-opacity':
      tagsService.isNewTagModal ||
      tagsService.isUpdateTagModal ||
      tagsService.isDeleteTagModal
  }"
>
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
