<section
  class="flex flex-col items-center justify-center min-h-full bg-slate-50"
>
  <div
    class="new-item-card p-3 bg-white rounded-lg shadow-2xl flex flex-col gap-2"
  >
    <form class="flex flex-col justify-center gap-1 new-img-container">
      <img
        [src]="imageSrc"
        alt="Imagen Cargada"
        *ngIf="imageSrc"
        class="new-img rounded-lg"
      />
      <label
        *ngIf="!imageSrc"
        for="img-input"
        class="img-label rounded-lg px-2 self-center hover:cursor-pointer hover:bg-opacity-80"
      >
        Subir imagen <i class="fa-regular fa-image"></i>
      </label>
      <label
        *ngIf="imageSrc"
        for="img-input"
        class="img-label rounded-lg px-2 self-center hover:cursor-pointer hover:bg-opacity-80"
      >
        Cambiar imagen <i class="fa-regular fa-image"></i>
      </label>
      <input
        type="file"
        id="img-input"
        class="img-input"
        (change)="onFileSelected($event)"
        accept="image/*"
      />
    </form>
    <form [formGroup]="itemForm" class="flex flex-col gap-2">
      <input type="hidden" formControlName="imagelink" />
      <div class="flex justify-between gap-1">
        <label for="name">Nombre: </label>
        <input
          type="text"
          class="bg-gray-100 rounded-md px-2 flex-1"
          formControlName="name"
          id="name"
          required
        />
      </div>
      <div class="flex gap-2">
        <div class="flex flex-col gap-2">
          <label for="price">Precio: </label>
          <label for="boughtAt">Comprado en: </label>
        </div>
        <div class="flex flex-col flex-1 gap-2 justify-around">
          <div class="flex">
            <p>$</p>
            <input
              type="number"
              class="bg-gray-100 rounded-md px-2 flex-1"
              formControlName="price"
              id="price"
              min="0"
              required
            />
          </div>
          <div class="flex">
            <p>$</p>
            <input
              type="number"
              class="bg-gray-100 rounded-md px-2 flex-1"
              formControlName="boughtAt"
              id="boughtAt"
              min="0"
              required
            />
          </div>
        </div>
      </div>
      <div class="flex gap-2 items-center justify-between">
        <label for="tags">Etiquetas: </label>
        <select
          (change)="onTagSelect($event.target)"
          class="bg-gray-100 rounded-md"
          id="tags"
          formControlName="tags"
        >
          <option *ngFor="let tag of tags" value="{{ tag }}">
            {{ tag }}
          </option>
        </select>
        <button
          class="flex px-2 bg-green-300 rounded-lg items-center justify-center hover:bg-opacity-80"
          (click)="tagsService.isNewTagModal = true"
        >
          Nueva etiqueta
        </button>
      </div>

      <div *ngIf="currentTags.length > 0" class="flex gap-1 mb-3 flex-wrap">
        <div *ngFor="let tag of currentTags">
          <div
            class="flex gap-1 items-center p-1 rounded-lg bg-slate-200 hover:cursor-default"
          >
            {{ tag }}
            <a (click)="onTagDelete(tag)"
              ><i
                class="fa-solid fa-circle-xmark text-slate-400 hover:cursor-pointer"
              ></i
            ></a>
          </div>
        </div>
      </div>

      <div class="flex justify-between gap-1">
        <label for="location">Ubicación del articulo: </label>
        <select
          id="location"
          class="bg-gray-100 rounded-md flex-1"
          formControlName="location"
          required
        >
          <option value="chosu">Chosu</option>
          <option value="derecha-atras">Derecha-atras</option>
          <option value="derecha-frente">Derecha-frente</option>
          <option value="medio-derecha-atras">Medio-derecha-atras</option>
          <option value="medio-derecha-frente">Medio-derecha-frente</option>
          <option value="izquierda-atras">Izquierda-superior</option>
          <option value="izquierda-frente">Izquierda-frente</option>
          <option value="medio-izquierda-atras">medio-izquierda-atras</option>
          <option value="medio-izquierda-frente">medio-izquierda-frente</option>
        </select>
      </div>
      <p *ngIf="!isValid" class="text-red-600">
        Por favor rellene todos los campos
      </p>
      <button
        (click)="onSubmit()"
        class="flex px-2 bg-blue-300 rounded-lg items-center justify-center hover:bg-opacity-80"
      >
        Añadir producto
      </button>
    </form>
  </div>
</section>
