<section class="flex relative justify-between px-3.5 items-center">
  <p class="text-3xl">
    <b>{{ currentFilter }}</b>
  </p>
  <div class="flex">
    <div class="flex gap-2">
      <p>Filtros:</p>
      <div
        class="flex justify-between gap-2 w-56 px-2 bg-slate-100 rounded-lg hover:cursor-pointer"
        (click)="isDroppedDown = true"
      >
      <p></p>
        <button>
          <i class="fa-solid fa-chevron-down"></i>
        </button>
      </div>
    </div>
  </div>
  <div
    *ngIf="isDroppedDown"
    class="drop-down flex gap-1 p-2 rounded-lg bg-slate-100 h-80"
  >
    <div class="flex flex-col gap-1 flex-wrap">
      <button
        class="flex justify-between gap-1 px-2 rounded-lg text-start hover:bg-blue-300"
        (click)="showAllItems()"
      >
        Todos los items
      </button>
      <button
        *ngFor="let tag of tags"
        class="flex justify-between gap-1 px-2 rounded-lg text-start hover:bg-blue-300"
        (click)="selectTag(tag)"
      >
        <p>{{ tag.tagname }}</p>
      </button>
    </div>
    <hr />
    <div
      *ngIf="usersService.isLogged()"
      class="flex flex-col gap-1 flex-wrap border-l pl-2"
    >
      <p><b>Dueños</b></p>
      <button
        *ngFor="let owner of owners"
        class="flex justify-between gap-1 px-2 rounded-lg text-start hover:bg-blue-300"
        (click)="selectOwner(owner)"
      >
        <p>{{ owner.owner }}</p>
      </button>
    </div>
    <div
      *ngIf="usersService.isLogged()"
      class="flex flex-col gap-1 flex-wrap border-l pl-2"
    >
      <p><b>Ubicaciones</b></p>
      <button
        *ngFor="let location of locations"
        class="flex justify-between gap-1 px-2 rounded-lg text-start hover:bg-blue-300"
        (click)="selectLocation(location.location)"
      >
        <p>{{ location.location }}</p>
      </button>
    </div>
  </div>
</section>
