.drop-down {
  position: absolute;
  right: 14px;
  top: 30px;
}

.tags,
.locations,
.owners {
  overflow: auto;
}

@media (max-width: 630px) {
  .drop-down {
    right: 0;
  }
  .categories {
    width: 97vw;
    justify-content: center;
  }

  .search-bar {
    width: 93vw;
  }

  .filter-input {
    flex: 1;
  }
}

@media (max-width: 540px) {
  .categories {
    flex-direction: column;
    justify-content: initial;
    overflow: auto;
    max-height: 50vh;
    border-radius: 0;
  }

  .tags,
  .locations,
  .owners {
    overflow: initial;
  }
}
