<div
  *ngIf="isLoading(); else elseBlock"
  class="flex items-center gap-3 align-middle justify-center min-h-screen"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    height="48"
    viewBox="0 -960 960 960"
    width="48"
    class="animate-spin"
  >
    <path
      class="fill-slate-300"
      d="M480-80q-84 0-157-31t-127-85q-54-54-85-127T80-480q0-84 31-157t85-127q54-54 127-85t157-31q12 0 21 9t9 21q0 12-9 21t-21 9q-141 0-240.5 99.5T140-480q0 141 99.5 240.5T480-140q141 0 240.5-99.5T820-480q0-12 9-21t21-9q12 0 21 9t9 21q0 84-31 157t-85 127q-54 54-127 85T480-80Z"
    />
  </svg>
</div>

<ng-template #elseBlock>
  <div class="search-bar flex items-center justify-between my-7 mr-4 ml-2">
    <h2 class="section-title text-black text-6xl font-bold mr-2">
      {{ currentTag.tagname }}
    </h2>
    <div class="flex items-center gap-20 mt-2">
      <!-- <button class="side-bar-button">
        <i
          class="fa-solid fa-bars text-2xl text-black p-3 bg-slate-300 side-bar-button"
        ></i>
      </button> -->
      <!-- <app-search-bar></app-search-bar> -->
    </div>
  </div>
  <div class="items-grid my-2 mr-4 ml-2">
    <div
      class="game-card shadow-sm shadow-black grid bg-white rounded-lg"
      *ngFor="let item of itemsResponse"
    >
      <div
        class="cursor-pointer game-thumbnail min-w-full overflow-hidden rounded-t-lg"
      >
        <img
          class="thumbnail-img"
          src="{{ item.imagelink }}"
          alt="{{ item.name }}-thumbnail"
        />
      </div>
      <div class="game-info grid h-auto">
        <div class="flex justify-between px-4 gap-4">
          <h2 class="cursor-pointer text-2xl font-semibold">
            {{ item.name }}
          </h2>
        </div>
      </div>
    </div>
  </div>
</ng-template>
