.items-container {
  max-height: 81vh;
  overflow: auto;
}

.items-container::-webkit-scrollbar {
  background-color: #f7f9fb;
  width: 10px;
}

.items-container::-webkit-scrollbar-thumb {
  background-color: #93c5fd;
  border-radius: 10px;
}

.item-card {
  max-width: 202px;
  border: 1px solid;
}

.item-img {
  width: 100%;
  height: 300px;
}

.sold {
  opacity: 0.4;
}
