.items-container {
  max-height: 81vh;
  overflow: auto;
}

.items-container::-webkit-scrollbar{
  background-color: #F7F9FB;
  width: 10px;
}

.items-container::-webkit-scrollbar-thumb{
  background-color: #93C5FD;
  border-radius: 10px;
}

.item-card {
  max-width: 200px;
}

.item-img {
  width: 200px;
  height: 300px;
}
