<div
  *ngIf="isLoading(); else elseBlock"
  class="flex items-center gap-3 align-middle justify-center mt-7"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    height="48"
    viewBox="0 -960 960 960"
    width="48"
    class="animate-spin"
  >
    <path
      class="fill-slate-300"
      d="M480-80q-84 0-157-31t-127-85q-54-54-85-127T80-480q0-84 31-157t85-127q54-54 127-85t157-31q12 0 21 9t9 21q0 12-9 21t-21 9q-141 0-240.5 99.5T140-480q0 141 99.5 240.5T480-140q141 0 240.5-99.5T820-480q0-12 9-21t21-9q12 0 21 9t9 21q0 84-31 157t-85 127q-54 54-127 85T480-80Z"
    />
  </svg>
</div>

<ng-template #elseBlock>
  <div
    *ngIf="itemsResponse!.length === 0"
    class="flex justify-center items-center mt-10 text-3xl mx-2 text-center"
  >
    Ups! No hay ningún item con esas caracteristicas
  </div>
  <div
    *ngIf="itemsResponse!.length > 0"
    class="items-container flex py-2 pr-4 pl-2 gap-4 flex-wrap justify-center min-h-full"
  >
    <div
      class="item-card shadow-xl grid bg-white rounded-lg"
      *ngFor="let item of itemsResponse"
    >
      <div class="item-img flex justify-center">
        <img
          class="rounded-t-lg"
          src="{{ item.imagelink }}"
          alt="{{ item.name }}-thumbnail"
        />
      </div>

      <div class="flex flex-col justify-between px-2 pb-2 pt-1 gap-1">
        <h3 class="text-2xl font-semibold">
          {{ item.name }}
        </h3>
        <h3>Precio: $ {{ item.price | number : "1.0-0" }}</h3>
        <h3 *ngIf="usersService.isLogged()">
          Comprado en: $ {{ item.boughtAt | number : "1.0-0" }}
        </h3>
        <h3 *ngIf="usersService.isLogged()">Dueño: {{ item.owner }}</h3>
        <h3 *ngIf="usersService.isLogged()">Ubicación: {{ item.location }}</h3>
        <button
          *ngIf="usersService.isLogged()"
          class="bg-green-300 rounded-lg"
          (click)="editItem(item)"
        >
          Editar <i class="fa-solid fa-pencil"></i>
        </button>
      </div>
    </div>
  </div>
</ng-template>
