<div class="abs-center absolute top-1/2 left-1/2 p-4 rounded-lg bg-white z-50">
  <form class="flex flex-col gap-4" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="flex justify-end">
      <i
        class="fa-solid fa-circle-xmark text-slate-200 hover:cursor-pointer"
        (click)="tagsService.isUpdateTagModal = false"
      ></i>
    </div>

    <div class="flex flex-col">
      <label for="newTag">Actualiza la etiqueta:</label>
      <input
        type="text"
        class="p-2 bg-slate-100 rounded-md mt-1"
        formControlName="tagname"
        required
      />
      <div *ngIf="!isValid" class="text-red-600">
        Por favor ingrese una etiqueta valida
      </div>
      <div *ngIf="tagExists" class="text-red-600">La etiqueta ya existe</div>
    </div>
    <button
      type="submit"
      class="flex px-2 rounded-lg items-center justify-center hover:bg-opacity-80"
    >
      Actualizar etiqueta
    </button>
  </form>
</div>
