.item-img {
  width: 100px;
  height: 150px;
  border-radius: 8px;
}

.cart-item {
  max-width: 420px;
  border: 1px solid;
}

.checkout-container {
  border: 1px solid;
  width: 250px;
}

@media (max-width: 590px) {
  section {
    flex-direction: column;
  }

  .checkout-container {
    width: auto;
    align-self: auto;
  }

  .cart-item{
    max-width: 100vw;
  }
}
