.side-bar {
  width: 204px;
}

.activeBtn {
  background-color: #93c5fd;
  transition: opacity 0.3s ease-in-out; 
}

.activeBtn .hidden-link {
  opacity: 1;
}

.hidden-link {
  opacity: 0;
  transition: opacity 0.1s ease-in-out; 
}

button:hover .hidden-link {
  opacity: 1;
}
