<footer class="bg-slate-100 px-2 pt-1 text-black text-sm">
  <div class="flex items-center justify-start gap-1.5">
    <h6>
      <a
        href="https://github.com/RaulUrdanetaG"
        rel="noreferrer"
        target="_blank"
      >
        <b>Made By</b>
      </a>
    </h6>
    <a href="https://github.com/RaulUrdanetaG" rel="noreferrer" target="_blank">
      <i class="fa-brands fa-github text-base"></i>
    </a>
    <h6>
      <a
        href="https://github.com/RaulUrdanetaG"
        rel="noreferrer"
        target="_blank"
      >
        <b>Raul Urdaneta</b>
      </a>
    </h6>
  </div>
</footer>
