<div
  class="abs-center absolute top-1/2 left-1/2 p-4 rounded-lg bg-white z-40"
  [ngClass]="{ loading: isLoading }"
>
  <form
    *ngIf="tagsService.isNewTagModal"
    class="flex flex-col gap-4"
    [formGroup]="tagForm"
    (ngSubmit)="onSubmitTag()"
  >
    <div class="flex justify-end">
      <i
        class="fa-solid fa-circle-xmark text-slate-200 hover:cursor-pointer"
        (click)="tagsService.isNewTagModal = false"
      ></i>
    </div>

    <div *ngIf="isLoading" class="absolute top-1/2 left-1/2 loading-svg z-50">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="48"
        viewBox="0 -960 960 960"
        width="48"
        class="animate-spin"
      >
        <path
          class="fill-slate-700"
          d="M480-80q-84 0-157-31t-127-85q-54-54-85-127T80-480q0-84 31-157t85-127q54-54 127-85t157-31q12 0 21 9t9 21q0 12-9 21t-21 9q-141 0-240.5 99.5T140-480q0 141 99.5 240.5T480-140q141 0 240.5-99.5T820-480q0-12 9-21t21-9q12 0 21 9t9 21q0 84-31 157t-85 127q-54 54-127 85T480-80Z"
        />
      </svg>
    </div>

    <div class="flex flex-col">
      <label for="newTag">Agregar nueva etiqueta:</label>
      <input
        type="text"
        class="p-2 bg-slate-100 rounded-md mt-1"
        formControlName="tagname"
        #newTagInput
        placeholder="Nueva etiqueta"
        required
      />
      <div *ngIf="!isValid" class="text-red-600">
        Por favor ingrese una etiqueta valida
      </div>
      <div *ngIf="exists" class="text-red-600">La etiqueta ya existe</div>
    </div>
    <button
      type="submit"
      class="flex px-2 bg-green-300 rounded-lg items-center justify-center hover:bg-opacity-80"
    >
      Crear etiqueta
    </button>
  </form>
  <form
    *ngIf="ownersService.isNewOwnerModal"
    class="flex flex-col gap-4"
    [formGroup]="ownerForm"
    (ngSubmit)="onSubmitOwner()"
  >
    <div class="flex justify-end">
      <i
        class="fa-solid fa-circle-xmark text-slate-200 hover:cursor-pointer"
        (click)="ownersService.isNewOwnerModal = false"
      ></i>
    </div>

    <div *ngIf="isLoading" class="absolute top-1/2 left-1/2 loading-svg z-50">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="48"
        viewBox="0 -960 960 960"
        width="48"
        class="animate-spin"
      >
        <path
          class="fill-slate-700"
          d="M480-80q-84 0-157-31t-127-85q-54-54-85-127T80-480q0-84 31-157t85-127q54-54 127-85t157-31q12 0 21 9t9 21q0 12-9 21t-21 9q-141 0-240.5 99.5T140-480q0 141 99.5 240.5T480-140q141 0 240.5-99.5T820-480q0-12 9-21t21-9q12 0 21 9t9 21q0 84-31 157t-85 127q-54 54-127 85T480-80Z"
        />
      </svg>
    </div>

    <div class="flex flex-col">
      <label for="newOwner">Agregar nuevo dueño:</label>
      <input
        type="text"
        class="p-2 bg-slate-100 rounded-md mt-1"
        formControlName="owner"
        #newOwnerInput
        placeholder="Nuevo dueño"
        required
      />
      <div *ngIf="!isValid" class="text-red-600">
        Por favor ingrese un dueño valida
      </div>
      <div *ngIf="exists" class="text-red-600">El dueño ya existe</div>
    </div>
    <button
      type="submit"
      class="flex px-2 bg-green-300 rounded-lg items-center justify-center hover:bg-opacity-80"
    >
      Crear dueño
    </button>
  </form>
</div>
